@{
    ViewBag.Title = "Contact";
}
<br />
<h4><strong>За дополнителни информации, можете да не контактирате на</strong></h4>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    425.555.0100
</address>
<h4>или на следниот телефонски број</h4>
<abbr title="Phone">02/26-87-554</abbr><br />
<h4><strong>За пријавување на проблеми со веб-страната, помош при користење на истата или соработка, контактирајте не на</strong></h4>
<address>
    <strong>Техничка поддршка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>